.logo
    {
        z-index: 100;
        background-image: url("../public/static/images/logo.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
 
    }

  .havana{
    background-image: url("../public//static/images/backgrounds/havana.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    
 
  }

  .dubrovnik{
    /* background-color: #20B6C9; */
    background: linear-gradient(180deg, rgb(211, 109, 8) 0%, rgb(224, 183, 20) 100%);
    background-size: 400% 400%;
    animation: gradient 15s 5s ease-in infinite;
  }

  .ubud{
        background-image: url("../public//static/images/backgrounds/ubud.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
     
    }       
  

  .vancouver{
    /* background-color: #20B6C9; */
    background: linear-gradient(180deg, rgba(0,127,171,1) 0%, rgba(32,182,201,1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s 5s ease-in infinite;
  }

  .tokyo{
    /* background-color: #20B6C9; */
    background: linear-gradient(180deg, rgba(0,127,171,1) 0%, rgba(32,182,201,1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s 5s ease-in infinite;
  }

  .santorini{
    /* background-color: #20B6C9; */
    background: linear-gradient(180deg, rgb(211, 109, 8) 0%, rgb(224, 183, 20) 100%);
    background-size: 400% 400%;
    animation: gradient 15s 5s ease-in infinite;
  }

  .losangeles{
        background-image: url("../public//static/images/backgrounds/losangeles.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
     
      }

  .neworleans{
    background-image: url("../public//static/images/backgrounds/neworleans.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .paris{
    background-image: url("../public//static/images/backgrounds/paris.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
 
  }

  .marrakesh{
    background-image: url("../public//static/images/backgrounds/marrakesh.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
 
  }